/* www.katbytes.com css */
/* 111718 notes: wip, need to combine classes */
/* Main Info */
body {
font-family: 'Acme', sans-serif;
font-size: 1.3em;
color: #fff;
background-image: url("../images/bg-2.png");
background-size: 50%;
position: fixed;
width: 100%;
height: 350px;
}
h1 {
color: #1f3d86;
font-family: 'Pacifico', cursive;
font-size: 3em;
text-align: center;
text-shadow: 2px 2px #888888;
}
h2 {
text-align: center;
}
h3 {
font-size: 1.2em;
text-align: center;
color:#f00;
}
h4 {
margin-top:30px;
font-size: 1em;
text-align: center;
color:#333333;
}
h5 {
font-family: 'Pacifico', cursive;
text-align: center;
color:#999999;
}
/* Audio Controls */
.HTMLIFrameElement {
background-color: #000;
}
iframe {
width: 100%;
height: 0px;
/* Hiding Controls LOL */
background-color: #000;
}
.output {
background: white;
}
/* Bootstrap Customized */
.jumbotron {
background-image: url("../images/bg-1.png");
background-size: 50%;
color: #1f3d86;
border:10px double pink;
text-shadow: 1px 1px #ccc;
box-shadow: 15px 10px #888888;
}
.main-button-container {
margin-top: 100px;
max-width: 610px;
margin-left: auto;
margin-right: auto;
}
/* Counter Timer */
.timer {
color:#f00;
vertical-align: middle;
padding-left: 20px;
}
.timer-p {
width: 50%;
margin: 0 auto;
border:6px dotted #4bc5dc;
border-radius: 25px;
vertical-align: middle;
width: 300px;
}
/* Start Game Div Buttons */
.start-button {
margin: 0 auto;
font-family: 'Pacifico', cursive;
font-size: 1.1em;
background: #4bc5dc;
border:6px dotted #fed404;
height: 60px;
border-radius: 25px;
}
.start-button:hover {
font-family: 'Pacifico', cursive;
font-size: 1.1em;
color: #1f3d86;
background: pink;
border:6px dotted #f00;
height: 60px;
border-radius: 25px;
}
/* Answer Div Buttons */
p.answer {
width: 60%;
height: 45px;
border-radius: 25px;
color: #1f3d86;
padding-left: 20px;
}
p.answer:hover {
width: 50%;
background: pink;
border:6px dotted #f00;
border-radius: 25px;
color: #1f3d86;
padding-left: 20px;
}
/* Answer Imgs */
.img-right {
margin-top: auto;
align-content: center;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}
.img-wrong {
margin-top: auto;
align-content: center;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
/* .first-answer {
margin-top: 40px;
}
*/
/* Reset Game Div Buttons */
.reset-button {
margin: 0 auto;
font-family: 'Pacifico', cursive;
font-size: 1.1em;
background: #4bc5dc;
border:6px dotted #fed404;
border-radius: 25px;
height: 60px;
}
.reset-button:hover {
font-family: 'Pacifico', cursive;
font-size: 1.1em;
color: #1f3d86;
background: pink;
border:6px dotted #f00;
border-radius: 25px;
height: 60px;
}
/* Summary Game Info */
.summary-correct {
text-align: center;
/* margin-top: 15px;
*/
}
#myVideo {
position: fixed;
right: 0;
top: -60px;
bottom: 0;
min-width: 120%;
min-height: 120%;
z-index:-1;
filter:opacity(40%);
}
/* Media Queries Display Info --------------------- */
@media (max-width: 480px) {
body {
font-size: 1.3em;
background-size: 80%;
background-image: url("../images/bg-2-inverted.png");
}
.jumbotron {
background-image: url("../images/bg-1-inverted.png");
background-size: 80%;
font-size: .5em;
margin-top: 2px;
border:10px double #fff;
text-shadow: none;
box-shadow: 7px 5px pink 
}
.timer {
padding-left: 10px;
}
.img-wrong {
width: 35%;
}
.img-right {
width: 40%;
}
h1 {
text-shadow: 1px 1px #888888;
}
h4 {
font-size: 1.4em;
margin-top: 20px;
}
h5 {
font-size: 1.2em;
margin-top: -5px;
}
.timer-p {
width: 50%;
height: 50%;
border:3px dotted #4bc5dc;
}
.answer {
/* width: 100%;
*/
}
.start-button {
margin-top: -60px;
width: 50%;
height: 50%;
font-size: 1.3em;
border:4px dotted #fed404;
}
.start-button:hover {
width: 50%;
height: 50%;
font-size: 1.3em;
border:4px dotted #fed404;
}
p.answer {
height: 10px;
}
.reset-button {
width: 50%;
height: 50%;
font-size: 1.3em;
border:4px dotted #fed404;
}
.reset-button:hover {
width: 50%;
height: 50%;
font-size: 1.3em;
border:4px dotted #f00;
}
#myVideo {
display: none;
}
}
